.row{
    height: 35px;
}
.contact{
    font-size: 0.83rem;
}

.or{
    color: #E45C5C;
}
button{
    height: 35px;
}
.social-icon{
    height: 35px;
}
.social-icon span i:hover{
    opacity: 0.5;
}
.border-r{
    border-right: 1px solid #E45C5C;
    height: 35px;
}
.logo{
    height: 6rem;
    background-color: black;
    padding-bottom: 4px;
}
li a {
    font-size: 0.84rem;
}
nav{
    background-color: black!important;
}

.search{
    color: #fafafa;
    font-size: 1.1rem;
    border-radius: 15%;
    border: 1px solid white;
}